circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 8px;
}

text {
  font: 10px tahoma;
  font-weight: bold;
}

circle.node{
	fill-opacity: 0.2;
	stroke-opacity: 0;
	fill: rgb(31, 119, 180);
}

circle.node.leaf{
	fill-opacity: 1;
}

circle.no_problem{
  fill: #FFB401;
  fill-opacity: 1;
}

circle.bad_problem_1{
  fill: #FF7F0E;
  fill-opacity: 1;
}

circle.bad_problem_2{
  fill: #E84C01;
  fill-opacity: 1;
}

circle.bad_problem_3{
  fill: #FF2E01;
  fill-opacity: 1;
}

#top_bar{
  background-color:#D9E5FF;
}

#sidebar{
  background-color:#BABCE8;
}

#bottom_bar{
  background-color:#BAD4E8;
}

#query_result_chart{
  background-color:#D8CCFF;
}

#chart3{
  background-color:#CCF6FF;
}
