/*PAGE*/
html {
	cursor:default;
}

/*#main_flex{
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;

	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	-moz-wrap: nowrap;
	-webkit-wrap: nowrap;
	flex-wrap: nowrap;

	-moz-justify-content: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;

	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
}*/

#top_bar {
	margin: 30px;	
	min-width: 532px;
	text-align: center;
	transition: color 2s;
	-webkit-transition: color 2s;
	height: 8%;
}

#top_bar:hover {
	color: #3a87ad;
}

#bottom_bar {
	margin: 0;
	text-align: center;
	padding: 5px;
	padding-bottom: 0px;
	font-size:8pt;
	min-width: 909px;
	height: 5%;
}

#middle_area {
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;

	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	-moz-wrap: wrap;
	-webkit-wrap: wrap;
	flex-wrap: wrap;

	-moz-justify-content: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;

	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;

	-moz-align-content: space-around;
	-webkit-align-content: space-around;
	align-content: space-around;
}

#bubble_chart_legend{
	height:70px;
}

#bubble_chart_legend p{
	color: #999;
}

#sidebar {
	width: 15%;
/*	height: 72%;*/
	margin: 0;
	margin-left: 30px;
	padding: 0;
	border-radius: 10px;
	text-align: center;
}

#bubble_chart_carousel {
	width: 35%;
	margin: 0;
	text-align: center;
	font-size: 10pt;
}

#other_charts {
	width: 45%;
	margin: 0px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
/*	-moz-align-self: flex-start;
	-webkit-align-self: flex-start;
	align-self: flex-start;*/

}

#query_result_chart {
	height: 35%;
}

#metric_time_series_chart {
	height: 30%;
}

/* Added by Augusto */
#query_result_h4 {
	height: 10%;
}

#query_result_parallel_coord {
	height: 90%;
}

#time_series_h4{
	height: 10%;
}
#metric_type_vm{
	height: 15%;
	padding: 0px 0px;
	margin-bottom: 0px;
}
#time_series_pagination{
	display:inline-block;
	float:right;
	margin: 0px;
	height: 15%;
}

/* The time serie occupate all this height, the width is inherited*/
#metric_time_series {
	height: 75%;
}

#start_date_time, #end_date_time {
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;

	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	-moz-wrap: nowrap;
	-webkit-wrap: nowrap;
	flex-wrap: nowrap;

	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;

	-moz-align-items: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;

	-moz-align-content: space-around;
	-webkit-align-content: space-around;
	align-content: space-around;
}

#start_date, #start_time, #end_date, #end_time {
	text-align: center;
	width: 90px;
	height: 30px;
}

#start_time, #end_time{
	width: 65px;
}

#menu_bar{
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;

	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	-moz-wrap: nowrap;
	-webkit-wrap: nowrap;
	flex-wrap: nowrap;

	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;

	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;

	-moz-align-content: space-around;
	-webkit-align-content: space-around;
	align-content: space-around;

	width: auto; 

}

#menu_item{
	margin-left: auto;
	margin-right: auto;
}

/*CHARTS*/

text {
  font: 10px tahoma;
  font-weight: bold;
}

circle.node{
	fill-opacity: 1;
	stroke-opacity: 0;
}

circle.node.leaf{
	fill-opacity: 0.1;
	fill: rgb(80,80,80);
}

circle.node.root{
	fill-opacity: 0;
}*/

#time_series_chart {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

