<!DOCTYPE html">
<head>
<meta charset="utf-8">
	<title>Nuvem Dashboard</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nuvem_style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/datepicker.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-timepicker.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/parallel_coord.css')}}">
</meta>
</head>
<body>
	<div id='main_flex'>
		<div id='top_bar' class='muted'>
			<br><span style="font-family: 'Arial'; font-size: 30pt; font-weight:bold;">Nuvem Analytics Dashboard</span>
		</div>
		<div id='middle_area'>
			<div id='sidebar' class='well'> 
				<div id='menu_bar'>
					<div class='menu_item'>
						<strong><em class='muted'>Query Definition</em></strong>
						<h4>Query Type</h4>
						<div class='dropdown' id="Query-Type-div">
							<select id="query-type" style='width:auto;'> 
								<option value="Sub">Subutilization</option>
  								<option value="Sup">Superutilization</option>
							 </select>
						</div>
					</div>
					<br>
					<br>
					<div class='menu_item'>
						<h4>Time Interval</h4>
						<em>from:</em>
						<div id="start_date_time">
							<div class="input-append date" id="start_date_wrapper" data-date data-date-format="dd/mm/yyyy">
								<input id="start_date" disabled type="text" value='...'>
								<span class="add-on"><i class="icon-calendar"></i></span>
							</div>
							<div class="bootstrap-timepicker" id="start_time_wrapper">
								<input id="start_time" type="text" value='...'>
							</div>
						</div>
					</div>
					<div class='menu_item'>
						<em>to:</em>
						<div id="end_date_time">
							<div class="input-append date date_div" id="end_date_wrapper" data-date data-date-format="dd/mm/yyyy"> 
								<input id="end_date" disabled type="text" value='...'>
								<span class="add-on"><i class="icon-calendar"></i></span>
							</div>
							<div class="bootstrap-timepicker time_div" id="end_time_wrapper">
								<input id="end_time" type="text" value='...'>
							</div>
						</div>
					</div>
					<br>
					<br>
					<div class='menu_item'>
						<h4>Query View Type</h4>
							<div class="chekbox" id="Check-Queries">
                                	                	<input type="checkbox" id="queries-agg"> Agreggated Queries
                                	             	</div>
					</div>
				</div>
				<br>
				<br>
				<div id='submit_button'>
					<button class="btn btn-large btn-inverse btn-block disabled" type="button" id="go"> 
						Submit!
					</button>
				</div>
			</div>
			<div  id='bubble_chart_carousel' class='carousel slide'>
				<div class='carousel-inner' id='bubble_chart_carousel_items'>
					<div class='hero-unit well-small' style='background-color: rgba(0,0,0,0);'>
						<h1>Welcome!</h1>
						<em class='muted'>Please submit a query on the left.</em>
					</div>
				</div>
				<br>
				<br>
				<div id='bubble_chart_legend' style='display:none;'>
					<span id='legend_problem'></span> | <span id='legend_range'></span>
					<ul class='inline'>
					</ul>
				</div>
				<a class='carousel-control left' href='#bubble_chart_carousel' data-slide='prev' style='display:none; font-size:28pt;'>&larr;</a>
				<a class='carousel-control right' href='#bubble_chart_carousel' data-slide='next' style='display:none; font-size:28pt;'>&rarr;</a>
			</div>
			<div id='other_charts'>
				<div id='query_result_chart' style='display:none;' >
				</div>
				<div id='metric_time_series_chart' style='display:none;'>
					<h4>VM Time Series Analysis</h4>
                                       	<select class="dropdown" id="metric_type_vm" >
                                       	</select>
					<div id="metric_time_series" >
					</div>
				</div>
			</div>
		</div>
		<div class="muted"  id="bottom_bar">
  			Designed and developed by Nuvem Analytics Team:
			<a class='text-info' target='_blank' href='http://lattes.cnpq.br/6907208655251013'>Augusto Queiroz</a>,
			<a class='text-info' target='_blank' href='https://github.com/guilhermesgb'>Guilherme Santos</a>,
			<a class='muted' target='_blank' href=''>Danilo Lacerda</a>,
			<a class='muted' target='_blank' href=''>Iury Gregory</a>,
			<a class='muted' target='_blank' href=''>Fabio Morais</a> (Project Coach) and
			Evandro Sombrio (Hewlett-Packard Representative)
			<br>
			Powered by <a class='text-success' target='_blank' href='http://www.vertica.com/'>Vertica</a>,
			<a class='text-success' target='_blank' href='http://twitter.github.io/bootstrap/'>Bootstrap</a>,
			<a class='text-success' target='_blank' href='http://d3js.org/'>D3.js</a> |
			<a class='text-success' target='_blank' href='https://github.com/analyticsUfcg/nuvemAnalytics'>View source on Github</a> |
			Many thanks to many people on <a class='text-success' target='_blank' href='http://stackoverflow.com/'>Stack Overflow</a>
		</div>
	</div>
	
	<script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/d3.v3.js')}}"></script>
	<script src="{{url_for('static', filename='js/charts.js')}}"></script>
	<script src="{{url_for('static', filename='js/chart_time_series.js')}}"></script>
        <script src="{{url_for('static', filename='js/chart_parallel_coord.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap-datepicker.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap-timepicker.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/date_fields.js')}}"></script>
	<script src="{{url_for('static', filename='js/browser_detect.js')}}"></script>
	<script type="text/javascript">

	{% if response %}

		var bubble_chart_data;

		$(document).ready(function(){
			$("#submit_button button").text("Loading...");
			bubble_chart_data = JSON.parse({{ response|tojson|safe }})
			showBubbleChart(bubble_chart_data);
			$("#submit_button button").removeClass("disabled").text("Submit!");
			loading = false;

			if (BrowserDetect.browser.search('Chrome') == -1 ){
				var msg = "Warning! This webapp is displayed best on Chrome.";
				window.alert(msg);
				window.location = "http://" + window.location.hostname + "/old_version";
			}

		});

		{% if start_date %}

			var st = "{{start_date}}".split(" ");
			var year = st[0].split("-")[0];
			var month = st[0].split("-")[1];
			var day = st[0].split("-")[2];
			$("#start_date_wrapper").datepicker("setValue", day + "/" + month + "/" + year);
			$("#start_time").timepicker("setTime", st[1]);
		{% endif %}

		{% if end_date %}

			var en = "{{end_date}}".split(" ");
			var year = en[0].split("-")[0];
			var month = en[0].split("-")[1];
			var day = en[0].split("-")[2];
			$("#end_date_wrapper").datepicker("setValue", day + "/" + month + "/" + year);
			$("#end_time").timepicker("setTime", en[1]);
		{% endif %}
		
		{% if aggregate %}
			document.getElementById("queries-agg").checked = true;
		{% endif %}
	
	{% else %}

		$("#query_result_chart").hide();
		$("#metric_time_series_chart").hide();

		$(document).ready(function(){
			$("#submit_button button").removeClass("disabled");
			loading = false;

			if (BrowserDetect.browser.search('Chrome') == -1 ){
				var msg = "Warning! This webapp is displayed best on Chrome.";
				window.alert(msg);
				window.location = "http://" + window.location.hostname + "/old_version";
			}
		});

	{% endif %}

	$("#bubble_chart_legend").hide();
	$(".carousel-control").hide();
	$("#bubble_chart_carousel").carousel({interval : false})
	.on('slid', function(){
		switchBubbleChart();
	});

	var loading = true;

	$("#go").click(function(){

		if ( loading ){
			return;
		}

		$("#bubble_chart").empty();
		$("#metric_type_vm").empty();
		$("#query_result_chart").hide();
 		$("#metric_time_series_chart").hide();	
		
		var url = "/";
                var qtp = document.getElementById("query-type");
                var identifier = qtp.options[qtp.selectedIndex].text;
		if(identifier == "Subutilization"){
			url += "subutilization?";
		}else{
			url += "superutilization?";
		}
	
		var dt = $("#start_date").val();
		var year = dt.split("/")[2];
		var month = dt.split("/")[1];
		var day = dt.split("/")[0];
	
		url += "start_date="+(year + "-" + month + "-" + day)+" "+$("#start_time").val()+":00";

		var dt = $("#end_date").val();
		var year = dt.split("/")[2];
		var month = dt.split("/")[1];
		var day = dt.split("/")[0];

		url += "&end_date="+(year + "-" + month + "-" + day)+" "+$("#end_time").val()+":00";
	
		if($("#queries-agg").is(":checked")){
			url += "&aggregate=yes";
		}else{
			url += "&aggregate=no";
		}

		url += "&quick";

		$("#go").text("Loading...").addClass("disabled");
		loading = true;
		$.get(url, function(data){
			$("#query_result_chart").show();
			$("#metric_time_series_chart").show();
			data = JSON.parse(data);
			showBubbleChart(data);
			$("#go").text("Submit!").removeClass("disabled");
			loading = false;
		});

	});	

	$("#metric_type_vm").change(function(){updateTimeSeries()});

	</script>
</body>
</html>
