<!DOCTYPE html style="height:100%;">
<head>
<meta charset="utf-8">
	<title>Nuvem Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nuvem_style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/datepicker.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-timepicker.min.css')}}">
</meta>
</head>
<body style="height:100%;">
	<div class='container-fluid' style="height:100%;">
		<div class='row-fluid' style="height:10%;" id='top_bar'>
			(mockup) title
		</div>
		<div class='row-fluid' style="height:85%; width:100%;">
			<div style="width:10%; min-width:188px; height:100%; float:left;" id='sidebar'>
				<div class='row-fluid' style="height:30%;" id='time_bar'>
					<h5>Time interval</h5>
                                        <em><strong>start</strong> date and time:</em>
					<div id="start_date_time">
						<div class="input-append date" id="start_date_wrapper" style="float:left; width:50%;" data-date="12-02-2012" data-date-format="yyyy/mm/dd">
							<input id="start_date" class="input-block-level" type="text" value="2012/02/02">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
						<div class="bootstrap-timepicker" id="start_time_wrapper" style="float:right; width:38%;">
							<input id="start_time" class="input-block-level" type="text">
						</div>
					</div>
					<em><strong>end</strong> date and time:</em>
					<div id="end_date_time">
						<div class="input-append date" id="end_date_wrapper" style="float:left; width:50%;" data-date="12-02-2012" data-date-format="yyyy/mm/dd">
							<input id="end_date" class="input-block-level" type="text" value="2012/02/02">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
						<div class="bootstrap-timepicker" id="end_time_wrapper" style="float:right; width:38%;">
							<input id="end_time" class="input-block-level" type="text">
						</div>
					</div>
				</div>
				<div class='row-fluid' style="height:30%;" id='query_type_bar'>
					<h5>Query Type</h5><div class="dropdown" id="Query-Type-div">
								<select class="combobox" id="query-type" style="width: 100%"> 
									<option value="Sub">Subutilization</option>
  									<option value="Sup">Superutilization</option>
								 </select>
						      </div>
					<h5>Query View Type</h5><div class="chekbox" id="Check-Queries">
                                                          <input type="checkbox" id="queries-agg"> Agreggated Queries
                                                      </div>
				</div>
				</br>
				<div class='row-fluid' style="height:10%;" id='query_view_bar'>
					<button class="btn btn-medium btn-inverse" type="button" id="go">
						GO!	
					</button>
				</div>
			</div>
			<div style="width:40%; height:100%; padding:0px; float:left;" id='bubble_chart_carousel' class='carousel slide'>
				<div class='carousel-inner' id='bubble_chart_carousel_items'>
				</div>
				<a class='carousel-control left' href='#bubble_chart_carousel' data-slide='prev'>&lsaquo;</a>
				<a class='carousel-control right' href='#bubble_chart_carousel' data-slide='next'>&rsaquo;</a>
			</div>
			<div style="width:50%; height:85%; position:fixed; top:12%; left:50%; padding:0px; float:left;">
				<div class='row' id='query_result_chart' style="height:50%;">
					(mockup)<br/>
					<br/>Chart 2
				</div>
				<div class='row' id='metric_time_series_chart' style="height:50%; position:relative; top:30%;">
					<h4>VM Time Series Analysis</h4>
					<h5>Metric List</h5>
					<div class="metric_div" id="metric_type">
                                              	<select class="dropdown" id="metric_type_vm" style="width:25%">
                                              	</select>
                                        </div>

				</div>
			</div>
		</div>
		<div class='row-fluid' style="height:5%;" id='bottom_bar'>
			(mockup) copyright and other info space
		</div>
	</div>
	<script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/d3.v3.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/charts.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap-datepicker.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap-timepicker.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/date_fields.js')}}"></script>
	<script type="text/javascript">

	{% if response %}

		var bubble_chart_data;

		$(document).ready(function(){
			bubble_chart_data = JSON.parse({{ response|tojson|safe }})
			showBubbleChart(bubble_chart_data);
		});

		{% if start_date %}

			var st = "{{start_date}}".split(" ");
			$("#start_date_wrapper").datepicker("setValue", st[0].replace(/\-/g, '/'));
			$("#start_time").timepicker("setTime", st[1]);
		{% endif %}

		{% if end_date %}

			var en = "{{end_date}}".split(" ");
			$("#end_date_wrapper").datepicker("setValue", en[0].replace(/\-/g, '/'));
			$("#end_time").timepicker("setTime", en[1]);
		{% endif %}
		
		{% if aggregate %}
			document.getElementById("queries-agg").checked = true;
		{% endif %}
	
	{% else %}

		$("#query_result_chart").hide();
		$("#metric_time_series_chart").hide();	

	{% endif %}

	$(".carousel-control").hide();
	$("#bubble_chart_carousel").carousel('pause');

	$("#go").click(function(){

		$("#bubble_chart").empty();
		$("#metric_type_vm").empty();
		$("#query_result_chart").hide();
 		$("#metric_time_series_chart").hide();	
		
		var url = "/";
                var qtp = document.getElementById("query-type");
                var identifier = qtp.options[qtp.selectedIndex].text;
		if(identifier == "Subutilization"){
			url += "subutilization?";
		}else{
			url += "superutilization?";
		}
		
		url += "start_date="+$("#start_date").val().replace(/\//g, '-')+" "+$("#start_time").val()+":00";
		url += "&end_date="+$("#end_date").val().replace(/\//g, '-')+" "+$("#end_time").val()+":00";
	
		if($("#queries-agg").is(":checked")){
			url += "&aggregate=yes";
		}else{
			url += "&aggregate=no";
		}

		url += "&quick";

		$.get(url, function(data){
			$("#query_result_chart").show();
			$("#metric_time_series_chart").show();
			data = JSON.parse(data);
			showBubbleChart(data);
		});

	});
	
	

	</script>
</body>
</html>
