<!DOCTYPE html style="height:100%;">
<head>
<meta charset="utf-8">
	<title>Nuvem Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nuvem_style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</meta>
</head>
<body style="height:100%;">

	<div class='container-fluid' style="height:100%;">
		<div class='row-fluid' style="height:95%;">
			<div style="width:10%; height:100%; float:left;" id='sidebar'>
				<div class='row-fluid' style="height:40%;" id='time_bar'>
					(mockup) <br/>tempo: hora dia semana mes ano escolha data inicial escolha data final
				</div>
				<div class='row-fluid' style="height:30%;" id='query_type_bar'>
					(mockup) <br/>Query Type: <ul><li>subutilization</li> <li>superutilization</li> <li>prediction</li></ul>
				</div>
				<div class='row-fluid' style="height:30%;" id='query_view_bar'>
					(mockup) <br/>Query Visualization Type: <ul><li>agreggated queries</li> <li>not agreggated queries</li></ul>
				</div>
			</div>
			<div style="width:50%; height:100%; padding:0px; float:left;" id='bubble_chart'>
			</div>
			<div style="width:40%; padding:0px; float:left;">
				<div class='row' id='chart2' style="height:50%;">
					(mockup)<br/>
					<br/>Chart 2
				</div>
				<div class='row' id='chart3' style="height:50%;">
					(mockup)<br/>
					<br/>Chart 3
				</div>
			</div>
		</div>
		<div class='row-fluid' style="height:5%;" id='bottom_bar'>
			(mockup) copyright and other info space
		</div>
	</div>

	<script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/d3.v3.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/bubble_chart.js')}}"></script>
	{% if response %}
	<script type="text/javascript">

		var bubble_chart_data;

		$(document).ready(function(){
			bubble_chart_data = JSON.parse({{ response|tojson|safe }})
			showBubbleChart(bubble_chart_data);
		});

	</script>
	{% endif %}
</body>
</html>
